.Nav-Container {
  display: flex;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  color: #ffffff;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px;
}

.Main-Heading {
  font-size: medium;
  margin-left: 10px;
}

.emoji-logo {
  margin-left: 50px;
}

.Logo-Container {
  display: flex;
}

.Scores-Container {
  display: flex;
  margin-right: 50px;
  font-size: large;
}

.Score-Heading {
  margin-right: 20px;
}
